<ion-view view-title="Champions">
  <ion-content>
    <div class="phonecontainer">
      <div class="list">
        <label class="item item-input">
          <input type="text" id="query" ng-model="query[queryBy]"/>
    </label>
        <label class="item item-input item-select">
    <div class="input-label">
      Filtre
    </div>
    <select ng-model="orderby">
      <option value="name" selected>Name</option>
      <option value="freeToPlay">Free</option>
    </select>
  </label>
      </div>
      <ul>
        <li ng-repeat="c in champions | filter:query | orderBy:'name'">
          <div class="card">
            <div class="item item-avatar">
              <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/{{c.key}}.png">
              <h2>{{ c.name }}</h2>
              <p ng-if="c.free === true">Gratuit</p>
            </div>
          </div>
        </li>
      </ul>
      <div ng-if="error" class="button button-block button-balanced error">{{error}}</div>
    </div>
  </ion-content>
</ion-view>
