<ion-view view-title="Champions">
  <ion-content>
    <div class="phonecontainer">
    <div id="load_bg"></div>

      <div class="list">
        <label class="item item-input">
          <input type="text" id="query" ng-model="query[queryBy]"/>
    </label>
    <button class="load activated has-spinner" data-load-text=" "></button>
      </div>
      <ul>
        <li ng-repeat="c in champions | filter:query | orderBy:'name'">
          <div class="card">
            <div class="item item-avatar">
              <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/{{c.key}}.png">
              <h2>{{ c.name }}</h2>
              <p ng-if="c.free === true">Gratuit</p>
            </div>
          </div>
        </li>
      </ul>
      <div ng-if="error" class="button button-block button-assertive error">{{error}}</div>
    </div>
  </ion-content>
</ion-view>
