.phonecontainer {
    height: 100vh;
    color: white;
}
.item{
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
}
.hide{
  display: none;
}
.load{
  z-index:10;
  background: none;
  border: none;
  position: absolute;
  top: 50vw;
  left: 34%;
  margin: auto;
  color: black;
  font-size: 100px;"
}
#load_bg{
  background: white;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 5;
  opacity: 0.6;
}
